@using Web.MVC.Models.Api_responses.review.enums
@model Web.MVC.Models.View_models.Review.GetReviewsByItemIdViewModel
<link rel="stylesheet" href="~/css/review/get-reviews-by-item-id.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

@{
    string GetReviewWord(int count)
    {
        int mod100 = count % 100;
        int mod10 = count % 10;

        if (mod10 == 1 && mod100 != 11) return "отзыв";
        if (mod10 >= 2 && mod10 <= 4 && (mod100 < 12 || mod100 > 14)) return "отзыва";
        return "отзывов";
    }
}
<input id="isNextReviewsPageExistedInput" class="hidden" value="@Model.IsNextPageExisted.ToString().ToLower()" />
<input id="reviewsPageSizeInput" class="hidden" value="@Model.PageSize" />
<input id="itemIdInput" class="hidden" value="@Model.Item.Id"/>

<div class="get-reviews-page-block">
    <div class="item-info-block">
        <h3 style="margin-bottom: 18px;">@Model.Item.Name — отзывы</h3>
        <div style="display: flex; gap: 15px; align-items: center;">
            <img src="@Model.Item.PictureSrc" style="max-width: 220px; max-height: 220px;"/>
            <div>
                <div class="star-rating" style="font-size: 30px;">
                    <div class="star-rating-fill" style="width: @(Model.Item.GeneralEstimation * 20)%; font-size: 30px;">★★★★★</div>
                </div>
                <p style="color: gray; font-size: 14px; font-weight: 700;">
                    Среднее: @Model.Item.GeneralEstimation (@Model.Item.ReviewsCount @GetReviewWord(Model.Item.ReviewsCount))
                </p>
                <a style="margin: 10px 0 10px 0;" class="btn-wide-stretched" asp-controller="Review" asp-action="AddReview" asp-route-itemId="@Model.Item.Id">
                    Написать отзыв
                </a>
                @if (Model.Item.Brand != null)
                {
                    <p style="font-size: 15px;">Бренд: @Model.Item.Brand</p>
                }
            </div>
        </div>
    </div>
    
    <div class="reviews-filter-block">
        @if (Model.Date == null && Model.Estimation == null)
        {
            <a class="reviews-filter-link active" asp-controller="Review" asp-action="GetReviewsByItemId" asp-route-itemId="@Model.Item.Id">Актуальные</a>
        }
        else
        {
            <a class="reviews-filter-link" asp-controller="Review" asp-action="GetReviewsByItemId" asp-route-itemId="@Model.Item.Id">Актуальные</a>
        }
        @switch (Model.Date)
        {
            case null:
                <a class="reviews-filter-link" asp-controller="Review" asp-action="GetReviewsByItemId" asp-route-itemId="@Model.Item.Id" 
                   asp-route-date="@OrderByDate.Descending">По дате ▼</a>
                break;
            case OrderByDate.Descending:
                <a class="reviews-filter-link active" asp-controller="Review" asp-action="GetReviewsByItemId" asp-route-itemId="@Model.Item.Id" 
                   asp-route-date="@OrderByDate.Ascending">По дате ▼</a>
                break;
            case OrderByDate.Ascending:
                <a class="reviews-filter-link active" asp-controller="Review" asp-action="GetReviewsByItemId" asp-route-itemId="@Model.Item.Id"
                   asp-route-date="@OrderByDate.Descending">По дате ▲</a>
                break;
        }
        @switch (Model.Estimation)
        {
            case null:
                <a class="reviews-filter-link" asp-controller="Review" asp-action="GetReviewsByItemId" asp-route-itemId="@Model.Item.Id"
                   asp-route-estimation="@OrderByEstimation.Descending">По оценке ▼</a>
                break;
            case OrderByEstimation.Descending:
                <a class="reviews-filter-link active" asp-controller="Review" asp-action="GetReviewsByItemId" asp-route-itemId="@Model.Item.Id"
                   asp-route-estimation="@OrderByEstimation.Ascending">По оценке ▼</a>
                break;
            case OrderByEstimation.Ascending:
                <a class="reviews-filter-link active" asp-controller="Review" asp-action="GetReviewsByItemId" asp-route-itemId="@Model.Item.Id"
                   asp-route-estimation="@OrderByEstimation.Descending">По оценке ▲</a>
                break;
        }
    </div>

    <div id="reviewsBlock">
        @foreach (var review in Model.Reviews)
        {
            <div class="review-block">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="get-reviews-flex">
                        <img src="@review.User.AvatarSrc" style="width: 30px; height: 30px; object-fit: cover;"/>
                        <p><a class="block-link-colored" asp-controller="User" asp-action="GetUserById" asp-route-userId="@review.User.Id">
                            @review.User.UserName
                        </a></p>
                    </div>
                    <p style="color: rgba(125, 125, 125, 0.7);">@review.CreatedAt.ToString("dd.MM.yyyy")</p>
                </div>
                <div class="get-reviews-flex">
                    <p style="font-weight: 700; margin-top: 3px;">Оценка:</p>
                    <div class="star-rating">
                        <div class="star-rating-fill" style="width: @(review.ItemEstimation * 20)%;">★★★★★</div>
                    </div>
                </div>
                <a asp-controller="Review" asp-action="GetReviewById" asp-route-reviewId="@review.Id"
                   class="block-link-colored" style="margin: 10px 0 15px 0;">
                    <div>@review.ShortReview</div>
                </a>
                <div style="display: flex; gap: 10px;">
                    <div class="get-reviews-flex">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <span>@review.LikesCount</span>
                    </div>
                    <div class="get-reviews-flex">
                        <i class="fa-regular fa-thumbs-down"></i>
                        <span>@review.DislikesCount</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="getReviewsSentinel" style="height: 10px;"></div>
    <div id="loadSpinnerContainer" class="load-spinner-container"></div>
    <div id="reviewsErrorBlock" style="display: none; color: red; margin-top: 10px;"></div>
</div>
<script>
    const sentinel = document.getElementById('getReviewsSentinel');
    const observer = new IntersectionObserver((entries) => {
        if (entries[0].isIntersecting) {
            loadReviews();
        }
    }, {
        rootMargin: '100px'
    });
    observer.observe(sentinel);

    const reviewsErrorBlock = document.getElementById('reviewsErrorBlock');
    const itemId = document.getElementById('itemIdInput').value;
    let loading = false;
    let pageNumber = 2;
    const pageSize = parseInt(document.getElementById('reviewsPageSizeInput').value, 10);
    let isNextPageExisted = document.getElementById('isNextReviewsPageExistedInput').value === 'true';

    const urlParams = new URLSearchParams(window.location.search);
    const date = urlParams.get('date') || '';
    const estimation = urlParams.get('estimation') || '';
    async function loadReviews() {
        if (loading || !isNextPageExisted) return;

        loading = true;
        reviewsErrorBlock.style.display = 'none';
        showLoader();

        const response = await fetch(
            `/items/${itemId}/reviews/json?pageSize=${pageSize}&pageNumber=${pageNumber}&date=${encodeURIComponent(date)}&estimation=${encodeURIComponent(estimation)}`);
        if (!response.ok) {
            hideLoader();
            reviewsErrorBlock.textContent = 'Что-то пошло не так. Попробуйте еще раз.';
            reviewsErrorBlock.style.display = 'block';
            loading = false;
            return;
        }

        const reviewsResult = await response.json();
        displayReviews(reviewsResult.reviews);
        isNextPageExisted = reviewsResult.isNextPageExisted;

        hideLoader();
        pageNumber++;
        loading = false;
    }

    function showLoader() {
        document.getElementById('loadSpinnerContainer').innerHTML = '<div class="load-spinner"></div>';
    }

    function hideLoader() {
        document.getElementById('loadSpinnerContainer').innerHTML = '';
    }

    function displayReviews(reviews) {
        reviews.forEach(review => {
            const reviewBlock = document.createElement('div');
            reviewBlock.classList.add('review-block');


            const block1 = document.createElement('div');
            block1.style.display = 'flex';
            block1.style.justifyContent = 'space-between';
            block1.style.alignItems = 'center';

            const userFlex = document.createElement('div');
            userFlex.classList.add('get-reviews-flex');

            const avatar = document.createElement('img');
            avatar.src = review.user.avatarSrc;
            avatar.style.cssText = 'width: 30px; height: 30px; object-fit: cover;';

            const userNameP = document.createElement('p');
            const userLink = document.createElement('a');
            userLink.classList.add('block-link-colored');
            userLink.href = `/users/${review.user.id}`;
            userLink.textContent = review.user.userName;
            userNameP.appendChild(userLink);

            userFlex.appendChild(avatar);
            userFlex.appendChild(userNameP);

            const dateP = document.createElement('p');
            dateP.style.color = 'rgba(125, 125, 125, 0.7)';
            const date = new Date(review.createdAt);
            dateP.textContent = date.toLocaleDateString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric' });

            block1.appendChild(userFlex);
            block1.appendChild(dateP);
            reviewBlock.appendChild(block1);


            const block2 = document.createElement('div');
            block2.classList.add('get-reviews-flex');

            const estimationLabel = document.createElement('p');
            estimationLabel.style.cssText = 'font-weight: 700; margin-top: 3px;';
            estimationLabel.textContent = 'Оценка:';

            const starRating = document.createElement('div');
            starRating.classList.add('star-rating');

            const starFill = document.createElement('div');
            starFill.classList.add('star-rating-fill');
            starFill.style.width = `${review.itemEstimation * 20}%`;
            starFill.textContent = '★★★★★';

            starRating.appendChild(starFill);
            block2.appendChild(estimationLabel);
            block2.appendChild(starRating);
            reviewBlock.appendChild(block2);


            const block3 = document.createElement('a');
            block3.classList.add('block-link-colored');
            block3.style.cssText = 'margin: 10px 0 15px 0;';
            block3.href = `/reviews/${review.id}`;

            const reviewText = document.createElement('div');
            reviewText.textContent = review.shortReview;
            block3.appendChild(reviewText);
            reviewBlock.appendChild(block3);


            const block4 = document.createElement('div');
            block4.style.cssText = 'display: flex; gap: 10px;';

            const likesFlex = document.createElement('div');
            likesFlex.classList.add('get-reviews-flex');
            likesFlex.innerHTML = `<i class="fa-regular fa-thumbs-up"></i><span>${review.likesCount}</span>`;

            const dislikesFlex = document.createElement('div');
            dislikesFlex.classList.add('get-reviews-flex');
            dislikesFlex.innerHTML = `<i class="fa-regular fa-thumbs-down"></i><span>${review.dislikesCount}</span>`;

            block4.appendChild(likesFlex);
            block4.appendChild(dislikesFlex);
            reviewBlock.appendChild(block4);

            document.getElementById('reviewsBlock').appendChild(reviewBlock);
        });
    }
</script>