@model Web.MVC.Models.View_models.User.EditUserProfileViewModel
<link rel="stylesheet" href="~/css/user/edit-user-profile.css"/>
<link rel="stylesheet" href="~/css/profile.css"/>

<div class="profile-container">
    <div class="profile-main-container">
        <h3>Настройка профиля</h3>
        <div class="highlited-block">
            <div class="block-underline">
                <h4>Данные авторизации</h4>
                <input class="user-profile-email-input" type="text" value="@Model.UserEmail" readonly/>
                <div style="margin-top: 25px;">
                    <button class="btn-wide-stretched">Изменить пароль</button>
                </div>
            </div>

            <div style="padding-top: 20px;">
                @if (true)
                {
                    string returnUrl = Context.Request.Path;
                    if (Context.Request.QueryString.HasValue)
                        returnUrl += Context.Request.QueryString;

                    <h4>Фотография профиля</h4>
                    <img src="@Model.AvatarSrc" width="100" height="100"/>
                    <div style="margin-top: 8px;">
                        <div id="errorMessageContainer" class="hidden" style="color: red; margin-bottom: 3px;"></div>
                        <form id="updateAvatarForm" method="post" asp-controller="User" asp-action="UpdateUserAvatar" asp-route-returnUrl="@returnUrl"
                              asp-route-userId="@Model.UserId" enctype="multipart/form-data">
                            <input id="updateAvatarInput" type="file" name="Image" class="hidden"/>
                        </form>
                        <button id="updateAvatarBtn" class="btn-wide-stretched">Выбрать изображение</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="highlited-block profile-links-container">
        <a class="profile-link active" asp-controller="User" asp-action="EditUserProfile" asp-route-userId="@Model.UserId">
            <svg class="profile-link-svg" width="20" height="20" viewBox="0 0 28 28">
                <path d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"/>
            </svg>
            Настройки
        </a>
    </div>
</div>

<script>
    const updateAvatarInput = document.getElementById('updateAvatarInput');
    const errorMessageContainer = document.getElementById('errorMessageContainer');
    const avatarExtensions = ['.jpg', '.jpeg', '.png'];

    document.getElementById('updateAvatarBtn').addEventListener('click', () => {
        updateAvatarInput.click();
    });

    updateAvatarInput.addEventListener('change', async function(e) {
        const file = this.files[0];
        if (!file.type.startsWith('image/')) {
            this.value = '';
            errorMessageContainer.textContent = 'Неверный формат';
            errorMessageContainer.style.display = 'block';
            return;
        }

        const fileName = file.name.toLowerCase();
        if (!avatarExtensions.some(x => fileName.endsWith(x))) {
            this.value = '';
            errorMessageContainer.textContent = 'Неверный формат';
            errorMessageContainer.style.display = 'block';
            return;
        }

        const updateAvatarForm = document.getElementById('updateAvatarForm');
        const formData = new FormData(updateAvatarForm);

        const response = await fetch(updateAvatarForm.action,
            {
                method: 'POST',
                body: formData
            });

        if (response.redirected) {
            window.location.href = response.url;
        }
        else if (response.status === 400) {
            errorMessageContainer.textContent = await response.text();
            errorMessageContainer.style.display = 'block';
            this.value = '';
        }
        else if (response.ok) {
            window.location.reload();
        }
        else if (response.status === 404) {
            errorMessageContainer.textContent = "Размер файла превышает 2 мб";
            errorMessageContainer.style.display = 'block';
            this.value = '';
        }
    });
</script>