@model Web.MVC.Models.View_models.User.EditUserProfileViewModel
<link rel="stylesheet" href="~/css/user/edit-user-profile.css"/>
<link rel="stylesheet" href="~/css/profile.css"/>

<div class="profile-container">
    <div class="profile-main-container">
        <h3>Настройка профиля</h3>
        <div class="highlited-block">
            <div class="block-underline">
                <h4>Данные авторизации</h4>
                <div style="margin-bottom: 10px;">
                    <p>Адрес электронной почты</p>
                    <input class="user-profile-readonly-input" type="text" value="@Model.UserEmail" readonly />
                </div>
                <div style="margin-bottom: 25px;">
                    <p>Имя пользователя</p>
                    <input class="user-profile-readonly-input" style="margin-bottom: 7px;" type="text" value="@Model.UserName" readonly/>
                    <button class="btn-wide-stretched" id="openUserNameModalBtn">Изменить имя пользователя</button>
                    <div class="modal-overlay" id="userNameModalOverlay">
                        <div class="modal-form">
                            <div style="display: none; color: red; margin-bottom: 3px;" id="userNameModalErrorBlock"></div>
                            <form id="updateUserNameForm" method="post" asp-controller="User" asp-action="UpdateUserName" asp-route-userId="@Model.UserId">
                                <input class="user-profile-input" name="newUserName" maxlength="30" value="@Model.UserName"
                                       placeholder="Введите новое имя пользователя" required/>
                                <input id="updateUserNameSubmit" class="btn-green" type="submit" style="margin-top: 7px;" value="Сохранить"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-wide-stretched" id="openPasswordModalBtn">Изменить пароль</button>
                    <div class="modal-overlay" id="passwordModalOverlay">
                        <div class="modal-form">
                            <div style="display: none; color: red; margin-bottom: 3px;" id="passwordErrorBlock"></div>
                            <form id="checkPasswordForm" method="post" asp-controller="User" asp-action="CheckUserPassword" asp-route-userId="@Model.UserId">
                                <input id="checkPasswordInput" class="user-profile-input" name="password" min="8" maxlength="100"
                                       placeholder="Введите текущий пароль" type="password" required />
                                <input id="checkPasswordSubmit" type="submit" class="btn-green" style="margin-top: 7px;" value="Сохранить" />
                            </form>
                            <form class="hidden" id="updatePasswordForm" method="post" asp-controller="User" asp-action="UpdateUserPassword"
                                  asp-route-userId="@Model.UserId">
                                <input id="updatePasswordOldPassword" name="oldPassword" type="hidden" required/>
                                <input id="updatePasswordInput" style="margin-bottom: 5px;" class="user-profile-input" name="newPassword" min="8"
                                       maxlength="100" placeholder="Введите новый пароль"type="password" required />
                                <input id="updatePasswordConfirmInput" class="user-profile-input" name="confirmNewPassword" min="8" maxlength="100"
                                       placeholder="Подтвердите пароль"type="password" required />
                                <input id="updatePasswordSubmit" type="submit" class="btn-green" style="margin-top: 7px;" value="Сохранить"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-underline" style="margin-top: 20px;">
                @if (true)
                {
                    string returnUrl = Context.Request.Path;
                    if (Context.Request.QueryString.HasValue)
                        returnUrl += Context.Request.QueryString;

                    <h4>Фотография профиля</h4>
                    <img src="@Model.AvatarSrc" width="100" height="100"/>
                    <div style="margin-top: 8px;">
                        <div id="errorMessageContainer" class="hidden" style="color: red; margin-bottom: 3px;"></div>
                        <form id="updateAvatarForm" method="post" asp-controller="User" asp-action="UpdateUserAvatar" asp-route-returnUrl="@returnUrl"
                              asp-route-userId="@Model.UserId" enctype="multipart/form-data">
                            <input id="updateAvatarInput" type="file" name="Image" class="hidden"/>
                        </form>
                        @if (Model.IsAvatarDefault)
                        {
                            <button id="updateAvatarBtn" class="btn-wide-stretched">Выбрать изображение</button>
                        }
                        else
                        {
                            <div class="flex" style="flex-wrap: wrap;">
                                <button id="updateAvatarBtn" class="btn-wide-stretched" style="margin-right: 10px; margin-bottom: 5px;">
                                    Выбрать изображение
                                </button>
                                <form method="post" asp-controller="User" asp-action="SetDefaultUserAvatar" asp-route-returnUrl="@returnUrl"
                                      asp-route-userId="@Model.UserId">
                                    <input class="btn-wide-stretched" type="submit" value="Удалить изображение"/>
                                </form>
                            </div>
                        }
                    </div>
                }
            </div>
            
            <div style="margin-top: 20px;">
                <form method="post" asp-controller="User" asp-action="SignOutFromAllDevices" asp-route-userId="@Model.UserId">
                    <input class="btn-wide-stretched" type="submit" value="Выйти из аккаунта на всех устройствах"/>
                </form>
            </div>
        </div>
    </div>
    <div class="highlited-block profile-links-container">
        <a class="profile-link active" asp-controller="User" asp-action="EditUserProfile" asp-route-userId="@Model.UserId">
            <svg class="profile-link-svg" width="20" height="20" viewBox="0 0 28 28">
                <path d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"/>
            </svg>
            Настройки
        </a>
    </div>
</div>

<script>
    const passwordErrorBlock = document.getElementById('passwordErrorBlock');

    document.getElementById('checkPasswordSubmit').addEventListener('click', async function(e) {
        e.preventDefault();

        const checkPasswordForm = document.getElementById('checkPasswordForm');
        const formData = new FormData(checkPasswordForm);

        const response = await fetch(checkPasswordForm.action, { method: 'POST', body: formData });

        if (response.ok) {
            const result = await response.json();
            if (result) {
                document.getElementById('updatePasswordOldPassword').value = document.getElementById('checkPasswordInput').value;
                passwordErrorBlock.style.display = 'none';
                document.getElementById('checkPasswordForm').style.display = 'none';
                document.getElementById('updatePasswordForm').style.display = 'block';
            } else {
                document.getElementById('checkPasswordInput').value = '';
                passwordErrorBlock.textContent = 'Неверный пароль';
                passwordErrorBlock.style.display = 'block';
            }
        }
        else if(response.status === 400) {
            document.getElementById('checkPasswordInput').value = '';

            const json = await response.json();
            passwordErrorBlock.innerHTML = '';

            json.errorMessages.forEach(error => {
                const div = document.createElement('div');
                div.textContent = error;
                passwordErrorBlock.appendChild(div);
            });
            passwordErrorBlock.style.display = 'block';
        } else {
            document.getElementById('checkPasswordInput').value = '';

            passwordErrorBlock.textContent = "Что-то пошло не так, попробуйте еще раз";
            passwordErrorBlock.style.display = 'block';
        }
    });

    document.getElementById('updatePasswordSubmit').addEventListener('click', async function(e) {
        e.preventDefault();

        const updatePasswordForm = document.getElementById('updatePasswordForm');
        const formData = new FormData(updatePasswordForm);

        const response = await fetch(updatePasswordForm.action, { method: 'POST', body: formData });

        if (response.ok) {
            window.location.reload();
        } else if(response.status === 400) {
            document.getElementById('updatePasswordInput').value = '';
            document.getElementById('updatePasswordConfirmInput').value = '';

            const json = await response.json();
            passwordErrorBlock.innerHTML = '';

            json.errorMessages.forEach(error => {
                const div = document.createElement('div');
                div.textContent = error;
                passwordErrorBlock.appendChild(div);
            });
            passwordErrorBlock.style.display = 'block';
        } else {
            document.getElementById('updatePasswordInput').value = '';
            document.getElementById('updatePasswordConfirmInput').value = '';

            passwordErrorBlock.textContent = "Что-то пошло не так, попробуйте еще раз";
            passwordErrorBlock.style.display = 'block';
        }
    });

    const passwordModalOverlay = document.getElementById('passwordModalOverlay');
    passwordModalOverlay.addEventListener('click', e => {
        if(e.target === passwordModalOverlay) {
            passwordModalOverlay.style.display = 'none';
        }
    });
    document.getElementById('openPasswordModalBtn').addEventListener('click', () => {
        passwordModalOverlay.style.display = 'flex';
    });









    const userNameModalErrorBlock = document.getElementById('userNameModalErrorBlock');
    document.getElementById('updateUserNameSubmit').addEventListener('click', async function(e) {
        e.preventDefault();

        const updateUserNameForm = document.getElementById('updateUserNameForm');
        const formData = new FormData(updateUserNameForm);

        const response = await fetch(updateUserNameForm.action, { method: 'POST', body: formData});

        if (response.ok) {
            window.location.reload();
        } else if(response.status === 400 || response.status === 409){
            userNameModalErrorBlock.textContent = await response.text();
            userNameModalErrorBlock.style.display = 'block';
        } else {
            userNameModalErrorBlock.textContent = "Что-то пошло не так, попробуйте еще раз";
            userNameModalErrorBlock.style.display = 'block';
        }
    });

    const userNameModalOverlay = document.getElementById('userNameModalOverlay');
    userNameModalOverlay.addEventListener('click', e => {
        if(e.target === userNameModalOverlay) {
            userNameModalOverlay.style.display = 'none';
        }
    });
    document.getElementById('openUserNameModalBtn').addEventListener('click', () => {
        userNameModalOverlay.style.display = 'flex';
    });








    const updateAvatarInput = document.getElementById('updateAvatarInput');
    const errorMessageContainer = document.getElementById('errorMessageContainer');
    const avatarExtensions = ['.jpg', '.jpeg', '.png'];

    document.getElementById('updateAvatarBtn').addEventListener('click', () => {
        updateAvatarInput.click();
    });

    updateAvatarInput.addEventListener('change', async function(e) {
        const file = this.files[0];
        if (!file.type.startsWith('image/')) {
            this.value = '';
            errorMessageContainer.textContent = 'Неверный формат';
            errorMessageContainer.style.display = 'block';
            return;
        }

        const fileName = file.name.toLowerCase();
        if (!avatarExtensions.some(x => fileName.endsWith(x))) {
            this.value = '';
            errorMessageContainer.textContent = 'Неверный формат';
            errorMessageContainer.style.display = 'block';
            return;
        }

        const updateAvatarForm = document.getElementById('updateAvatarForm');
        const formData = new FormData(updateAvatarForm);

        const response = await fetch(updateAvatarForm.action,
            {
                method: 'POST',
                body: formData
            });

        if (response.redirected) {
            window.location.href = response.url;
        }
        else if (response.status === 400) {
            errorMessageContainer.textContent = await response.text();
            errorMessageContainer.style.display = 'block';
            this.value = '';
        }
        else if (response.ok) {
            window.location.reload();
        }
        else if (response.status === 404) {
            errorMessageContainer.textContent = "Размер файла превышает 2 мб";
            errorMessageContainer.style.display = 'block';
            this.value = '';
        }
    });
</script>